*{
    margin: 0;
    padding: 0;
}

h3{
    font-size: 50px;
}
header{
    height: 60px;
    padding: 30px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1{
    color: #472244;
    font-size: 40px;
}
ul{
    display: flex;
    gap: 35px;
}
ul li{
    list-style: none;
}
ul li a{
    color: #472244;
   text-decoration: none;
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
.left-section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 80px;
    padding-right:80px;
}
.left-section h1{
    font-size: 65px;
    color: #472244;
}
.left-section h2{
    font-size: 40px;
}
.left-section p{
    font-size: 15px;
    width: 400px;
    margin-top: 10px;
}
.left-section .buttons{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.left-section button {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: none;
    border: 1px solid #472244;
    outline: none;
    font-size: 15px;
    font-weight: 600;
}

.left-section .btn1 {
    color: white;
    background-color: #472244;
    border: none;
}

.left-section .btn2 {
    color: #472244;
    background-color: white;
    border: 1px solid #472244;
}
.right-section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.right-section img{
    width: 500px;
}

#about{
    background-color: #f3eaf2;
    color: #472244;
    height: 95vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.about-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
}.about-content h4{
    margin-top: 30px;
}
.about-content ul{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.about-content ul li{
    list-style: circle;

}
#about p{
    width: 700px;
}

#skills{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.skills-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}
.skill{
  border: 1px solid #472244 ;
 color: #030303;
  padding: 30px;
  width: 380px;
  height: 400px;
  border-radius: 10px;
}
.skill ul{
display: flex;
flex-direction: column;
margin-top: 20px;
}
.skill ul li{
    list-style: circle;
    margin-left: 15px;
}


.skill p{
    margin-top: 10px;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f3eaf2;
    height: 90vh;
    padding-top:40px ;
    padding-bottom:40px ;
}
form{
    margin-top: 60px;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3eaf2;
    border: 1px solid #472244;
    border-radius: 10px;
    padding: 0 40px;
    box-shadow: 1px 1px 25px  #47224463;
}
.name-input{
    display: flex;
    flex-direction: row;
    width: 90%;
    
}
.name-input span{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

form div{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
    margin-top: 10px;
}
form div input{
    height: 30px;
    border-radius: 10px;
    border:none;
    border: 1px solid #472244;
    outline: none;
    padding-left: 15px;
    background-color: #f3eaf2;
}
form div textarea{
    border-radius: 10px;
    border:none;
    border: 1px solid #472244;
    outline: none;
    background-color: #f3eaf2;
    padding: 15px;
}
form button{
    width: 60%;
    margin-top: 15px;
    height: 40px;
    border-radius: 10px;
    background-color: #472244;
    color: white;
    border: none;
}
Footer{
    background-color: #472244;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}